In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dane.csv')

In [3]:
df

,Nr,Miasto,Czas dojazdu samochodem,Liczba ludności,Średnia temperatura w lipcu,Liczba deszczowych dni w lipcu,Zanieczyszczenia powietrza [**],Zanieczyszczenia powietrza
0,1,Białystok,5 godzin 6 minut,293413,19.5,10,111,5
1,2,Bydgoszcz,1 godzina 58 minut,337666,19.4,9,104,5
2,3,Gdańsk,3 godziny 46 minut,486022,18.9,10,114,5
3,4,Poznań,57 minut,546859,19.8,9,106,5
4,5,Katowice,3 godziny 34 minuty,289162,19.5,11,14,1
5,6,Kielce,4 godziny 6 minut,192498,19.4,10,44,2
6,7,Kraków,4 godziny 25 minut,800653,19.5,11,7,1
7,8,Lublin,4 godziny 45 minut,334681,17.8,9,100,5
8,9,Łódź,2 godziny 13 minut,670642,19.5,10,66,3
9,10,Opole,2 godziny 39 minut,127839,20.1,10,81,4
10,11,Rzeszów,5 godzin 59 minut,198609,19.8,12,73,3
11,12,Warszawa,3 godziny 6 minut,1860281,18.0,9,68,3
12,13,Wrocław,1 godzina 45 minut,672929,20.1,9,42,2
13,14,Zielona Góra,2 godziny 14 minut,140403,20.1,9,107,5

In [4]:
df.drop(['Nr', 'Zanieczyszczenia powietrza [**]'], axis=1, inplace=True)

In [5]:
import re

def time_to_minutes(time_str):
    # Wyszukaj godziny i minuty w tekście
    matches = re.findall(r'\d+', time_str)
    
    # Sprawdź, czy znaleziono godziny i minuty
    if len(matches) >= 2:
        hours = int(matches[0])
        minutes = int(matches[1])
        total_minutes = hours * 60 + minutes
        return total_minutes
    else:
        return None

# Zastosowanie funkcji do całej kolumny
df['Czas dojazdu samochodem'] = df['Czas dojazdu samochodem'].apply(lambda x: time_to_minutes(x))

In [6]:
df.loc[df['Miasto'] == 'Poznań', 'Czas dojazdu samochodem'] = 57

In [7]:
df

,Miasto,Czas dojazdu samochodem,Liczba ludności,Średnia temperatura w lipcu,Liczba deszczowych dni w lipcu,Zanieczyszczenia powietrza
0,Białystok,306.0,293413,19.5,10,5
1,Bydgoszcz,118.0,337666,19.4,9,5
2,Gdańsk,226.0,486022,18.9,10,5
3,Poznań,57.0,546859,19.8,9,5
4,Katowice,214.0,289162,19.5,11,1
5,Kielce,246.0,192498,19.4,10,2
6,Kraków,265.0,800653,19.5,11,1
7,Lublin,285.0,334681,17.8,9,5
8,Łódź,133.0,670642,19.5,10,3
9,Opole,159.0,127839,20.1,10,4
10,Rzeszów,359.0,198609,19.8,12,3
11,Warszawa,186.0,1860281,18.0,9,3
12,Wrocław,105.0,672929,20.1,9,2
13,Zielona Góra,134.0,140403,20.1,9,5

In [8]:
for col in df.columns[1:]:
    minv = df[col].min() 
    maxv = df[col].max()
    print(col, minv, maxv)
    print(' MIN: ', df[df[col]==minv]['Miasto'].values)    
    print(' MAX: ', df[df[col]==maxv]['Miasto'].values)
    print()

Czas dojazdu samochodem 57.0 359.0
 MIN:  ['Poznań']
 MAX:  ['Rzeszów']

Liczba ludności 127839 1860281
 MIN:  ['Opole']
 MAX:  ['Warszawa']

Średnia temperatura w lipcu 17.8 20.1
 MIN:  ['Lublin']
 MAX:  ['Opole' 'Wrocław' 'Zielona Góra']

Liczba deszczowych dni w lipcu 9 12
 MIN:  ['Bydgoszcz' 'Poznań' 'Lublin' 'Warszawa' 'Wrocław' 'Zielona Góra']
 MAX:  ['Rzeszów']

Zanieczyszczenia powietrza 1 5
 MIN:  ['Katowice' 'Kraków']
 MAX:  ['Białystok' 'Bydgoszcz' 'Gdańsk' 'Poznań' 'Lublin' 'Zielona Góra']

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Czas dojazdu samochodem,14.0,199.500000,86.767372,57.0,133.25,200.0,260.25,359.0
Liczba ludności,14.0,496546.928571,446871.634679,127839.0,221247.25,336173.5,639696.25,1860281.0
Średnia temperatura w lipcu,14.0,19.385714,0.712371,17.8,19.40,19.5,19.80,20.1
Liczba deszczowych dni w lipcu,14.0,9.857143,0.949262,9.0,9.00,10.0,10.00,12.0
Zanieczyszczenia powietrza,14.0,3.500000,1.556624,1.0,2.25,3.5,5.00,5.0

In [10]:
df

,Miasto,Czas dojazdu samochodem,Liczba ludności,Średnia temperatura w lipcu,Liczba deszczowych dni w lipcu,Zanieczyszczenia powietrza
0,Białystok,306.0,293413,19.5,10,5
1,Bydgoszcz,118.0,337666,19.4,9,5
2,Gdańsk,226.0,486022,18.9,10,5
3,Poznań,57.0,546859,19.8,9,5
4,Katowice,214.0,289162,19.5,11,1
5,Kielce,246.0,192498,19.4,10,2
6,Kraków,265.0,800653,19.5,11,1
7,Lublin,285.0,334681,17.8,9,5
8,Łódź,133.0,670642,19.5,10,3
9,Opole,159.0,127839,20.1,10,4
10,Rzeszów,359.0,198609,19.8,12,3
11,Warszawa,186.0,1860281,18.0,9,3
12,Wrocław,105.0,672929,20.1,9,2
13,Zielona Góra,134.0,140403,20.1,9,5

In [11]:
df.columns

Index(['Miasto', 'Czas dojazdu samochodem', 'Liczba ludności',
       'Średnia temperatura w lipcu', 'Liczba deszczowych dni w lipcu',
       'Zanieczyszczenia powietrza'],
      dtype='object')

In [13]:
cost_columns = ['Czas dojazdu samochodem', 'Liczba deszczowych dni w lipcu']
df[cost_columns] = df[cost_columns] * (-1)

In [14]:
c = df.columns[1:]
df[c] = df[c].astype(float)
preferred = {}

for i, row in df.iterrows():
    if i not in preferred:
        preferred[i] = []
        
    for j, candidate in df.iterrows():
        if i != j:
            if all(df.iloc[i][c].values >= df.iloc[j][c].values):
                preferred[i].append(j)

preferred

{0: [],
 1: [5, 7],
 2: [],
 3: [0, 1, 2, 4, 5, 7, 10],
 4: [],
 5: [],
 6: [],
 7: [],
 8: [4, 5],
 9: [],
 10: [],
 11: [],
 12: [4, 5],
 13: [9]}